{% extends 'monitor/base.html' %}
{% load static %}

{% block content %}
<main class="container-reporte">
    <div class="voltar-reporte">
        <a href="{% url 'index' %}" class="btn-voltar">Voltar</a>
    </div>

    <div class="cartao-reporte">
        <h2>Registrar Novo Reporte</h2>
        
        <form method="post" class="form-colunas">
            {% csrf_token %}
            <div class="colunas-grid">
                <div class="coluna">
                    <label>Sistema</label>
                    <select name="sistema">
                        <option value="Portal do Aluno">Portal do Aluno</option>
                        <option value="Lyceum">Lyceum</option>
                        <option value="Chamada">Chamada</option>
                    </select>
                    
                    <label>Tipo de Problema</label>
                    <select name="status">
                        <option value="instavel">Instável</option>
                        <option value="fora_do_ar">Fora do Ar</option>
                        <option value="lentidao">Lentidão</option>
                    </select>
                </div>

                <div class="coluna">
                    <label>Descrição Detalhada</label>
                    <textarea name="descricao" rows="5" placeholder="Descreva o erro..."></textarea>
                </div>
            </div>

            <div class="btn-container">
                <button type="submit" class="btn-enviar">Enviar Reporte</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}