{% extends 'monitor/base.html' %}
{% load static %}

{% block content %}
<main class="container-ativos">

    <div class="voltar-ativos">
        <a href="{% url 'index' %}" style="text-decoration: none;"> <button type="button">Voltar</button>
        </a>
    </div>

    <div class="card-principal">
        <h2>Incidentes Ativos</h2>

        <div class="incidente">
            <p><strong>Sistema:</strong> Portal do Aluno</p>
            <p><strong>Problema:</strong> Instável</p>
            <p><strong>Status:</strong> Resolvido 12:12</p>
            <p><strong>Descrição:</strong> Lentidão no Acesso</p>
            <div class="acoes">
                <button class="mini">Editar</button>
                <button class="mini">Deletar</button>
            </div>
        </div>

        <div class="incidente">
            <p><strong>Sistema:</strong> Sistema de Chamada</p>
            <p><strong>Problema:</strong> Instável</p>
            <p><strong>Descrição:</strong> Instável</p>
            <p><strong>Status:</strong> Aberto (12/03)</p>
        </div>

        <div class="incidente">
            <p><strong>Sistema:</strong> Ambiente Virtual</p>
            <p><strong>Problema:</strong> Instável</p>
            <p><strong>Descrição:</strong> Instável</p>
            <p><strong>Status:</strong> Resolvido (12/03)</p>
        </div>
    </div>

    <div class="botoes">
        <a href="{% url 'registrar_novo' %}" style="text-decoration: none;">
            <button type="button" class="btn-principal">Registrar Incidente</button>
        </a>
        <button type="button" class="btn-principal">Resolver Incidente</button>
    </div>

</main>
{% endblock %}